Fundamentals/09 Web Services/Xamarin.WebServices/Xamarin.WebServicesAsync.Droid/Web References/RxNav/RxNormDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:BeanService" xmlns:impl="http://mor.nlm.nih.gov/axis/services/RxNormDBService" targetNamespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:BeanService">
      <xsd:import namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="RxPropertyConcept">
        <xsd:sequence>
          <xsd:element name="CATEGORY" nillable="true" type="soapenc:string" />
          <xsd:element name="NAME" nillable="true" type="soapenc:string" />
          <xsd:element name="VALUE" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxConcept">
        <xsd:sequence>
          <xsd:element name="CUI" nillable="true" type="soapenc:string" />
          <xsd:element name="LAT" nillable="true" type="soapenc:string" />
          <xsd:element name="RXCUI" nillable="true" type="soapenc:string" />
          <xsd:element name="STR" nillable="true" type="soapenc:string" />
          <xsd:element name="SUPPRESS" nillable="true" type="soapenc:string" />
          <xsd:element name="SY" nillable="true" type="soapenc:string" />
          <xsd:element name="TTY" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxConceptGroup">
        <xsd:sequence>
          <xsd:element name="rxConcept" nillable="true" type="impl:ArrayOf_tns1_RxConcept" />
          <xsd:element name="type" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxMatchInfo">
        <xsd:sequence>
          <xsd:element name="RANK" type="xsd:int" />
          <xsd:element name="RXAUI" nillable="true" type="soapenc:string" />
          <xsd:element name="RXCUI" nillable="true" type="soapenc:string" />
          <xsd:element name="SCORE" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxMatchGroup">
        <xsd:sequence>
          <xsd:element name="comment" nillable="true" type="soapenc:string" />
          <xsd:element name="rxMatchInfo" nillable="true" type="impl:ArrayOf_tns1_RxMatchInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxMinimalConcept">
        <xsd:sequence>
          <xsd:element name="RXCUI" nillable="true" type="soapenc:string" />
          <xsd:element name="STR" nillable="true" type="soapenc:string" />
          <xsd:element name="TTY" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxcuiStatus">
        <xsd:sequence>
          <xsd:element name="date" nillable="true" type="soapenc:string" />
          <xsd:element name="min" nillable="true" type="impl:ArrayOf_xsd_anyType" />
          <xsd:element name="status" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxEdge">
        <xsd:sequence>
          <xsd:element name="ID1" nillable="true" type="soapenc:string" />
          <xsd:element name="ID2" nillable="true" type="soapenc:string" />
          <xsd:element name="REL" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxNode">
        <xsd:sequence>
          <xsd:element name="ATTR" nillable="true" type="impl:ArrayOf_soapenc_string" />
          <xsd:element name="ID" nillable="true" type="soapenc:string" />
          <xsd:element name="STR" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxTree">
        <xsd:sequence>
          <xsd:element name="rxEdge" nillable="true" type="impl:ArrayOf_tns1_RxEdge" />
          <xsd:element name="rxNode" nillable="true" type="impl:ArrayOf_tns1_RxNode" />
          <xsd:element name="title" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RxTermInfo">
        <xsd:sequence>
          <xsd:element name="CODE" nillable="true" type="soapenc:string" />
          <xsd:element name="RXCUI" nillable="true" type="soapenc:string" />
          <xsd:element name="SAB" nillable="true" type="soapenc:string" />
          <xsd:element name="STR" nillable="true" type="soapenc:string" />
          <xsd:element name="TTY" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService">
      <xsd:import namespace="urn:BeanService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ArrayOf_tns1_RxPropertyConcept">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxPropertyConcept[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_soapenc_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="soapenc:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxConcept">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxConcept[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxConceptGroup">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxConceptGroup[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxMatchInfo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxMatchInfo[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxMinimalConcept">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxMinimalConcept[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxEdge">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxEdge[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxNode">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxNode[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_RxTermInfo">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:RxTermInfo[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="closeRequest" />
  <wsdl:message name="findRxcuiByIdResponse">
    <wsdl:part name="findRxcuiByIdReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="approxMatchResponse">
    <wsdl:part name="approxMatchReturn" type="impl:ArrayOf_tns1_RxMatchInfo" />
  </wsdl:message>
  <wsdl:message name="getNDCsRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getDisplayTermsResponse">
    <wsdl:part name="getDisplayTermsReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getTermTypesResponse">
    <wsdl:part name="getTermTypesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="approxMatchRequest">
    <wsdl:part name="term" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getProprietaryInformationResponse1">
    <wsdl:part name="getProprietaryInformationReturn" type="impl:ArrayOf_tns1_RxTermInfo" />
  </wsdl:message>
  <wsdl:message name="getRelatedByRelationshipRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="rela_list" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByStringResponse">
    <wsdl:part name="findRxcuiByStringReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getSourceTypesRequest" />
  <wsdl:message name="getRelaTypesResponse">
    <wsdl:part name="getRelaTypesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getRxConceptPropertiesResponse">
    <wsdl:part name="getRxConceptPropertiesReturn" type="tns1:RxConcept" />
  </wsdl:message>
  <wsdl:message name="getRelatedByRelationshipResponse">
    <wsdl:part name="getRelatedByRelationshipReturn" type="impl:ArrayOf_tns1_RxConceptGroup" />
  </wsdl:message>
  <wsdl:message name="getDrugsResponse">
    <wsdl:part name="getDrugsReturn" type="impl:ArrayOf_tns1_RxConceptGroup" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByStringRequest2">
    <wsdl:part name="term" type="soapenc:string" />
    <wsdl:part name="sources" type="impl:ArrayOf_soapenc_string" />
    <wsdl:part name="allSourcesFlag" type="xsd:int" />
    <wsdl:part name="matchType" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByStringRequest1">
    <wsdl:part name="term" type="soapenc:string" />
    <wsdl:part name="sources" type="impl:ArrayOf_soapenc_string" />
    <wsdl:part name="allSourcesFlag" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByStringResponse2">
    <wsdl:part name="findRxcuiByStringReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getIdTypesRequest" />
  <wsdl:message name="findRxcuiByStringResponse1">
    <wsdl:part name="findRxcuiByStringReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getIdTypesResponse">
    <wsdl:part name="getIdTypesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getRxPropertyRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="prop_name" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getAllConceptsByTTYResponse">
    <wsdl:part name="getAllConceptsByTTYReturn" type="impl:ArrayOf_tns1_RxMinimalConcept" />
  </wsdl:message>
  <wsdl:message name="getPropCategoriesResponse">
    <wsdl:part name="getPropCategoriesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getSpellingSuggestionsRequest">
    <wsdl:part name="term" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getQuantityResponse">
    <wsdl:part name="getQuantityReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="filterByPropertyRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="prop_name" type="soapenc:string" />
    <wsdl:part name="prop_value" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getAllConceptsByTTYRequest">
    <wsdl:part name="ttyList" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getAllPropertiesResponse">
    <wsdl:part name="getAllPropertiesReturn" type="impl:ArrayOf_tns1_RxPropertyConcept" />
  </wsdl:message>
  <wsdl:message name="findRemappedResponse">
    <wsdl:part name="findRemappedReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getDisplayTermsRequest" />
  <wsdl:message name="getDrugsRequest">
    <wsdl:part name="name" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getProprietaryInformationRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="sources" type="impl:ArrayOf_soapenc_string" />
    <wsdl:part name="proxyTicket" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getMultiIngredBrandRequest">
    <wsdl:part name="ids" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByIdRequest1">
    <wsdl:part name="idType" type="soapenc:string" />
    <wsdl:part name="id" type="soapenc:string" />
    <wsdl:part name="allSourcesFlag" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getPropCategoriesRequest" />
  <wsdl:message name="getPropNamesResponse">
    <wsdl:part name="getPropNamesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getUNIIResponse">
    <wsdl:part name="getUNIIReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getAllPropertiesRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="propCat" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getRxNormVersionResponse">
    <wsdl:part name="getRxNormVersionReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getRxNormVersionRequest" />
  <wsdl:message name="findRxcuiByStringRequest">
    <wsdl:part name="term" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getRxConceptPropertiesRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getApproximateMatchResponse">
    <wsdl:part name="getApproximateMatchReturn" type="tns1:RxMatchGroup" />
  </wsdl:message>
  <wsdl:message name="getMultiIngredBrandResponse">
    <wsdl:part name="getMultiIngredBrandReturn" type="impl:ArrayOf_tns1_RxConcept" />
  </wsdl:message>
  <wsdl:message name="getRelatedByTypeResponse">
    <wsdl:part name="getRelatedByTypeReturn" type="impl:ArrayOf_tns1_RxConceptGroup" />
  </wsdl:message>
  <wsdl:message name="getQuantityRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getSplSetIdRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getTermTypesRequest" />
  <wsdl:message name="getAllRelatedInfoRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getSourceTypesResponse">
    <wsdl:part name="getSourceTypesReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getUNIIRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="findRxcuiByIdResponse1">
    <wsdl:part name="findRxcuiByIdReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="findRemappedRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getRxPropertyResponse">
    <wsdl:part name="getRxPropertyReturn" type="impl:ArrayOf_tns1_RxPropertyConcept" />
  </wsdl:message>
  <wsdl:message name="getProprietaryInformationRequest1">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="sources" type="impl:ArrayOf_soapenc_string" />
    <wsdl:part name="proxyTicket" type="soapenc:string" />
    <wsdl:part name="rxaui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getRxcuiStatusRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getStrengthRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getClassHierarchyRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="sab" type="soapenc:string" />
    <wsdl:part name="type" type="soapenc:string" />
    <wsdl:part name="oneLevel" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getPropNamesRequest" />
  <wsdl:message name="getRelaTypesRequest" />
  <wsdl:message name="getStrengthResponse">
    <wsdl:part name="getStrengthReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getSpellingSuggestionsResponse">
    <wsdl:part name="getSpellingSuggestionsReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="closeResponse" />
  <wsdl:message name="findRxcuiByIdRequest">
    <wsdl:part name="idType" type="soapenc:string" />
    <wsdl:part name="id" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getRxcuiStatusResponse">
    <wsdl:part name="getRxcuiStatusReturn" type="tns1:RxcuiStatus" />
  </wsdl:message>
  <wsdl:message name="filterByPropertyResponse">
    <wsdl:part name="filterByPropertyReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getSplSetIdResponse">
    <wsdl:part name="getSplSetIdReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getAllRelatedInfoResponse">
    <wsdl:part name="getAllRelatedInfoReturn" type="impl:ArrayOf_tns1_RxConceptGroup" />
  </wsdl:message>
  <wsdl:message name="getProprietaryInformationResponse">
    <wsdl:part name="getProprietaryInformationReturn" type="impl:ArrayOf_tns1_RxTermInfo" />
  </wsdl:message>
  <wsdl:message name="getClassHierarchyResponse">
    <wsdl:part name="getClassHierarchyReturn" type="tns1:RxTree" />
  </wsdl:message>
  <wsdl:message name="getRelatedByTypeRequest">
    <wsdl:part name="rxcui" type="soapenc:string" />
    <wsdl:part name="termType_list" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:message name="getApproximateMatchRequest">
    <wsdl:part name="term" type="soapenc:string" />
    <wsdl:part name="ranks" type="xsd:int" />
    <wsdl:part name="options" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getNDCsResponse">
    <wsdl:part name="getNDCsReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:portType name="DBManager">
    <wsdl:operation name="close">
      <wsdl:input name="closeRequest" message="impl:closeRequest" />
      <wsdl:output name="closeResponse" message="impl:closeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRxProperty" parameterOrder="rxcui prop_name">
      <wsdl:input name="getRxPropertyRequest" message="impl:getRxPropertyRequest" />
      <wsdl:output name="getRxPropertyResponse" message="impl:getRxPropertyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStrength" parameterOrder="rxcui">
      <wsdl:input name="getStrengthRequest" message="impl:getStrengthRequest" />
      <wsdl:output name="getStrengthResponse" message="impl:getStrengthResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRxcuiById" parameterOrder="idType id">
      <wsdl:input name="findRxcuiByIdRequest" message="impl:findRxcuiByIdRequest" />
      <wsdl:output name="findRxcuiByIdResponse" message="impl:findRxcuiByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRxcuiById" parameterOrder="idType id allSourcesFlag">
      <wsdl:input name="findRxcuiByIdRequest1" message="impl:findRxcuiByIdRequest1" />
      <wsdl:output name="findRxcuiByIdResponse1" message="impl:findRxcuiByIdResponse1" />
    </wsdl:operation>
    <wsdl:operation name="getMultiIngredBrand" parameterOrder="ids">
      <wsdl:input name="getMultiIngredBrandRequest" message="impl:getMultiIngredBrandRequest" />
      <wsdl:output name="getMultiIngredBrandResponse" message="impl:getMultiIngredBrandResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRxConceptProperties" parameterOrder="rxcui">
      <wsdl:input name="getRxConceptPropertiesRequest" message="impl:getRxConceptPropertiesRequest" />
      <wsdl:output name="getRxConceptPropertiesResponse" message="impl:getRxConceptPropertiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllProperties" parameterOrder="rxcui propCat">
      <wsdl:input name="getAllPropertiesRequest" message="impl:getAllPropertiesRequest" />
      <wsdl:output name="getAllPropertiesResponse" message="impl:getAllPropertiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNDCs" parameterOrder="rxcui">
      <wsdl:input name="getNDCsRequest" message="impl:getNDCsRequest" />
      <wsdl:output name="getNDCsResponse" message="impl:getNDCsResponse" />
    </wsdl:operation>
    <wsdl:operation name="filterByProperty" parameterOrder="rxcui prop_name prop_value">
      <wsdl:input name="filterByPropertyRequest" message="impl:filterByPropertyRequest" />
      <wsdl:output name="filterByPropertyResponse" message="impl:filterByPropertyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSplSetId" parameterOrder="rxcui">
      <wsdl:input name="getSplSetIdRequest" message="impl:getSplSetIdRequest" />
      <wsdl:output name="getSplSetIdResponse" message="impl:getSplSetIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getQuantity" parameterOrder="rxcui">
      <wsdl:input name="getQuantityRequest" message="impl:getQuantityRequest" />
      <wsdl:output name="getQuantityResponse" message="impl:getQuantityResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUNII" parameterOrder="rxcui">
      <wsdl:input name="getUNIIRequest" message="impl:getUNIIRequest" />
      <wsdl:output name="getUNIIResponse" message="impl:getUNIIResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRelatedByType" parameterOrder="rxcui termType_list">
      <wsdl:input name="getRelatedByTypeRequest" message="impl:getRelatedByTypeRequest" />
      <wsdl:output name="getRelatedByTypeResponse" message="impl:getRelatedByTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRelatedByRelationship" parameterOrder="rxcui rela_list">
      <wsdl:input name="getRelatedByRelationshipRequest" message="impl:getRelatedByRelationshipRequest" />
      <wsdl:output name="getRelatedByRelationshipResponse" message="impl:getRelatedByRelationshipResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllRelatedInfo" parameterOrder="rxcui">
      <wsdl:input name="getAllRelatedInfoRequest" message="impl:getAllRelatedInfoRequest" />
      <wsdl:output name="getAllRelatedInfoResponse" message="impl:getAllRelatedInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString" parameterOrder="term">
      <wsdl:input name="findRxcuiByStringRequest" message="impl:findRxcuiByStringRequest" />
      <wsdl:output name="findRxcuiByStringResponse" message="impl:findRxcuiByStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString" parameterOrder="term sources allSourcesFlag">
      <wsdl:input name="findRxcuiByStringRequest1" message="impl:findRxcuiByStringRequest1" />
      <wsdl:output name="findRxcuiByStringResponse1" message="impl:findRxcuiByStringResponse1" />
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString" parameterOrder="term sources allSourcesFlag matchType">
      <wsdl:input name="findRxcuiByStringRequest2" message="impl:findRxcuiByStringRequest2" />
      <wsdl:output name="findRxcuiByStringResponse2" message="impl:findRxcuiByStringResponse2" />
    </wsdl:operation>
    <wsdl:operation name="getDrugs" parameterOrder="name">
      <wsdl:input name="getDrugsRequest" message="impl:getDrugsRequest" />
      <wsdl:output name="getDrugsResponse" message="impl:getDrugsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSourceTypes">
      <wsdl:input name="getSourceTypesRequest" message="impl:getSourceTypesRequest" />
      <wsdl:output name="getSourceTypesResponse" message="impl:getSourceTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="approxMatch" parameterOrder="term">
      <wsdl:input name="approxMatchRequest" message="impl:approxMatchRequest" />
      <wsdl:output name="approxMatchResponse" message="impl:approxMatchResponse" />
    </wsdl:operation>
    <wsdl:operation name="getApproximateMatch" parameterOrder="term ranks options">
      <wsdl:input name="getApproximateMatchRequest" message="impl:getApproximateMatchRequest" />
      <wsdl:output name="getApproximateMatchResponse" message="impl:getApproximateMatchResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllConceptsByTTY" parameterOrder="ttyList">
      <wsdl:input name="getAllConceptsByTTYRequest" message="impl:getAllConceptsByTTYRequest" />
      <wsdl:output name="getAllConceptsByTTYResponse" message="impl:getAllConceptsByTTYResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPropNames">
      <wsdl:input name="getPropNamesRequest" message="impl:getPropNamesRequest" />
      <wsdl:output name="getPropNamesResponse" message="impl:getPropNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTermTypes">
      <wsdl:input name="getTermTypesRequest" message="impl:getTermTypesRequest" />
      <wsdl:output name="getTermTypesResponse" message="impl:getTermTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdTypes">
      <wsdl:input name="getIdTypesRequest" message="impl:getIdTypesRequest" />
      <wsdl:output name="getIdTypesResponse" message="impl:getIdTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRelaTypes">
      <wsdl:input name="getRelaTypesRequest" message="impl:getRelaTypesRequest" />
      <wsdl:output name="getRelaTypesResponse" message="impl:getRelaTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPropCategories">
      <wsdl:input name="getPropCategoriesRequest" message="impl:getPropCategoriesRequest" />
      <wsdl:output name="getPropCategoriesResponse" message="impl:getPropCategoriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpellingSuggestions" parameterOrder="term">
      <wsdl:input name="getSpellingSuggestionsRequest" message="impl:getSpellingSuggestionsRequest" />
      <wsdl:output name="getSpellingSuggestionsResponse" message="impl:getSpellingSuggestionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDisplayTerms">
      <wsdl:input name="getDisplayTermsRequest" message="impl:getDisplayTermsRequest" />
      <wsdl:output name="getDisplayTermsResponse" message="impl:getDisplayTermsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRxcuiStatus" parameterOrder="rxcui">
      <wsdl:input name="getRxcuiStatusRequest" message="impl:getRxcuiStatusRequest" />
      <wsdl:output name="getRxcuiStatusResponse" message="impl:getRxcuiStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getClassHierarchy" parameterOrder="rxcui sab type oneLevel">
      <wsdl:input name="getClassHierarchyRequest" message="impl:getClassHierarchyRequest" />
      <wsdl:output name="getClassHierarchyResponse" message="impl:getClassHierarchyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProprietaryInformation" parameterOrder="rxcui sources proxyTicket">
      <wsdl:input name="getProprietaryInformationRequest" message="impl:getProprietaryInformationRequest" />
      <wsdl:output name="getProprietaryInformationResponse" message="impl:getProprietaryInformationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProprietaryInformation" parameterOrder="rxcui sources proxyTicket rxaui">
      <wsdl:input name="getProprietaryInformationRequest1" message="impl:getProprietaryInformationRequest1" />
      <wsdl:output name="getProprietaryInformationResponse1" message="impl:getProprietaryInformationResponse1" />
    </wsdl:operation>
    <wsdl:operation name="findRemapped" parameterOrder="rxcui">
      <wsdl:input name="findRemappedRequest" message="impl:findRemappedRequest" />
      <wsdl:output name="findRemappedResponse" message="impl:findRemappedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRxNormVersion">
      <wsdl:input name="getRxNormVersionRequest" message="impl:getRxNormVersionRequest" />
      <wsdl:output name="getRxNormVersionResponse" message="impl:getRxNormVersionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RxNormDBServiceSoapBinding" type="impl:DBManager">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="close">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="closeRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="closeResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRxProperty">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRxPropertyRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRxPropertyResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStrength">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStrengthRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStrengthResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRxcuiById">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRxcuiByIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRxcuiByIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRxcuiById">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRxcuiByIdRequest1">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRxcuiByIdResponse1">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiIngredBrand">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getMultiIngredBrandRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getMultiIngredBrandResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRxConceptProperties">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRxConceptPropertiesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRxConceptPropertiesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProperties">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllPropertiesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getAllPropertiesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNDCs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getNDCsRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getNDCsResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterByProperty">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="filterByPropertyRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="filterByPropertyResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSplSetId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSplSetIdRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSplSetIdResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuantity">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getQuantityRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getQuantityResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUNII">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUNIIRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getUNIIResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedByType">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRelatedByTypeRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRelatedByTypeResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedByRelationship">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRelatedByRelationshipRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRelatedByRelationshipResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRelatedInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllRelatedInfoRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getAllRelatedInfoResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRxcuiByStringRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRxcuiByStringResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRxcuiByStringRequest1">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRxcuiByStringResponse1">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRxcuiByString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRxcuiByStringRequest2">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRxcuiByStringResponse2">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDrugsRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDrugsResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSourceTypes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSourceTypesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSourceTypesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approxMatch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="approxMatchRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="approxMatchResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApproximateMatch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getApproximateMatchRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getApproximateMatchResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllConceptsByTTY">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllConceptsByTTYRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getAllConceptsByTTYResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPropNames">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPropNamesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPropNamesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTermTypes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTermTypesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getTermTypesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdTypes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getIdTypesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getIdTypesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelaTypes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRelaTypesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRelaTypesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPropCategories">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPropCategoriesRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPropCategoriesResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpellingSuggestions">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSpellingSuggestionsRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSpellingSuggestionsResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDisplayTerms">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDisplayTermsRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getDisplayTermsResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRxcuiStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRxcuiStatusRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRxcuiStatusResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClassHierarchy">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getClassHierarchyRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getClassHierarchyResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProprietaryInformation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProprietaryInformationRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getProprietaryInformationResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProprietaryInformation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProprietaryInformationRequest1">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getProprietaryInformationResponse1">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRemapped">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRemappedRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="findRemappedResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRxNormVersion">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getRxNormVersionRequest">
        <wsdlsoap:body use="encoded" namespace="http://db.rxnorm.nlm.nih.gov" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getRxNormVersionResponse">
        <wsdlsoap:body use="encoded" namespace="http://mor.nlm.nih.gov/axis/services/RxNormDBService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBManagerService">
    <wsdl:port name="RxNormDBService" binding="impl:RxNormDBServiceSoapBinding">
      <wsdlsoap:address location="http://mor.nlm.nih.gov/axis/services/RxNormDBService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>